@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navBg: #BD820F;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior-y: none;
  overscroll-behavior: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.transition-one {
  transition: all 0.2s;
  transition-delay: 0.2s;
}

.scroll {
  position: fixed;
  transform: translateY(-9rem);
  left: 0;
  width: 100%;
  height: max-content;
  background-color: var(--accents-two);
  z-index: 3;
  transition: all 0.5s ease-in-out;
}

.scrolls {
  position: fixed;
  transform: translateY(0rem);
  left: 0;
  width: 100%;
  height: max-content;
  background-color: var(--accents-two);
  z-index: 40;
  transition: all 0.5s ease-in-out;
}

.contact-us {
  background: linear-gradient(0deg, #BD820F 43.31%, #BD820F60 67.94%, rgba(36, 96, 62, 0.00) 90.43%, rgba(32, 89, 57, 0.00) 109.69%), url(/assets/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: white;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}